
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/upload.css">
    <script src="/js/pace.js"></script>

    <title>Error-log Visualization</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>
  

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Vivo-Visualization</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
              <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Upload File<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a  data-toggle="modal" data-target="#myModal" >Import Apache-error Log</a></li>
                                <li><a  data-toggle="modal" data-target="#myModal" >Import dv-docs </a></li>
                                <li><a  data-toggle="modal" data-target="#myModal" >Import individual</a></li>
                            </ul>
                        </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!--modal for uploading the file -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upload Your file to create visualization</h4>
      </div>
      <div class="modal-body">
     <div class="container">
  <div class="row">
    <div class="span12">
      <form method="post" action="/">
        <input type="file" name="myFile" id="myFile"/>
        <p></p>
        

      
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      <div class="progress progress-striped active hide">
        <div style="width: 0%" class="bar"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="alert hide">
        <button type="button" data-dismiss="alert" class="close">x</button><span><strong class="message"></strong></span>
      </div>
    </div>
  </div>
</div>
      
        
  
<!--client file uploading script for testing purpose-->
        
      </div>
      <div class="modal-footer">
         <input type="submit" value="Submit" name="upload" class="btn btn-primary" id = "uploadFile"/>          
        <button type="submit" class="btn btn-primary" value="submit" data-dismiss= "modal" id="visualize" disabled="true">Create Visualization</button>
      </div>
    </div>
  </div>
</div>
</form>

<div id="write"></div>

    <div class="container">

      <div class="starter-template">
        <h1>Error log visualization</h1>
        <p class="lead">Use this website to visualize your error log file.<br> </p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/angular.min.js"></script>
  </body>
</html>
